!!!
html
  head
    title Pacman VS

    meta(name="websocket", content=app.websocket_url)

    link(rel='stylesheet', href='/stylesheets/pacmanvs.css')

    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/underscore-min.js")
    script(type="text/javascript", src="/javascripts/pacmanvs.js")

  body!= body
