img.browsers(src="images/browsers.png", alt="navegadores")

for n in [1,2,3,4,5,6,7,8,9,10]
  img.integration(src="images/integracao_#{n}.png", id="integration_#{n}", alt="navegadores")

.wrapper
  canvas#map_canvas
  canvas#player_canvas
  canvas#life_canvas

script(type="text/javascript", src="/javascripts/presentation.js")
