body {
  background-color: black;
}

.wrapper {
  position: relative;
  margin: 0 auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#map_canvas {
  z-index: 0;
  background-color: black;
}

#player_canvas {
  z-index: 1;
}

#life_canvas {
  z-index: 2;
}

img {
  display: none;
}
